XMPP still not working

```
# apprise -V
Apprise v0.9.6
Copyright (C) 2021 Chris Caron <lead2gold@gmail.com>
This code is licensed under the MIT License.
```
Trying to send

```
# apprise -vvvvvv -b "Test Message Body" xmpp://monitor:<PASSWORD HIDDEN>@<XMPP HOST HIDDEN>?to=drq@<XMPP HOST HIDDEN>
2021-12-14 19:58:23,835 - TRACE - XMPP URL xmpp://monitor:<PASSWORD HIDDEN>@<XMPP HOST HIDDEN>?to=drq@<XMPP HOST HIDDEN> unpacked as:
user="monitor"
password="<PASSWORD HIDDEN>"
port="None"
host="<XMPP HOST HIDDEN>"
fullpath="None"
path="None"
query="None"
schema="xmpp"
url="xmpp://monitor:<PASSWORD HIDDEN>@<XMPP HOST HIDDEN>"
qsd="{'to': 'drq@<XMPP HOST HIDDEN>'}"
qsd+="{}"
qsd-="{}"
qsd:="{}"
secure="False"
verify="True"
targets="['drq@<XMPP HOST HIDDEN>']"
2021-12-14 19:58:23,835 - DEBUG - Loaded XMPP URL: xmpp://monitor:****@<XMPP HOST HIDDEN>/rq%40<XMPP HOST HIDDEN>?format=text&overflow=upstream&rto=4.0&cto=4.0&verify=yes&xep=30%2C199
2021-12-14 19:58:23,835 - DEBUG - Using selector: EpollSelector
2021-12-14 19:58:23,836 - INFO - Notifying 1 service(s) asynchronously.
2021-12-14 19:58:23,837 - DEBUG - Using selector: EpollSelector
2021-12-14 19:58:23,843 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
2021-12-14 19:58:23,844 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
2021-12-14 19:58:23,846 - DEBUG - Loaded Plugin: RFC 3920: Stream Feature: Start Session
2021-12-14 19:58:23,846 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
2021-12-14 19:58:23,847 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
2021-12-14 19:58:23,850 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: SASL
2021-12-14 19:58:23,851 - DEBUG - Loaded Plugin: XEP-0030: Service Discovery
2021-12-14 19:58:23,852 - DEBUG - Loaded Plugin: XEP-0199: XMPP Ping
2021-12-14 19:58:23,852 - DEBUG - Event triggered: connecting
sys:1: RuntimeWarning: coroutine 'XMLStream.run_filters' was never awaited
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
2021-12-14 19:58:23,867 - ERROR - Task was destroyed but it is pending!
task: <Task pending name='Task-3' coro=<XMLStream.run_filters() running at /usr/local/lib/python3.9/dist-packages/slixmpp/xmlstream/xmlstream.py:1033>>
sys:1: RuntimeWarning: coroutine 'XMLStream._connect_routine' was never awaited
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
2021-12-14 19:58:23,867 - ERROR - Task was destroyed but it is pending!
task: <Task pending name='Task-4' coro=<XMLStream._connect_routine() running at /usr/local/lib/python3.9/dist-packages/slixmpp/xmlstream/xmlstream.py:320>>
```

@linkmauve, thoughts?

Tested both on Debian and Manjaro. Works in neither

Really, really need this

I apologize for [your frustration](https://github.com/louislam/uptime-kuma/issues/1098). But please know that this is the holidays and we are in the middle of a pandemic. Not only that, Apprise is open source (free) and therefore it doesn't pay any bills. All of the amazing contributions to it are from the great open source community, or when i get some time to help out.

XMPP support i would think is close to working. I'm sorry that you're having issues. The very dev of the `slixmpp` library himself was kind enough to put some time into it. I'm sure if you're patient, someone will be able to look into this. I also welcome Pull Requests if you want to maybe take a stab at the issue yourself? You'll find that people who work for free focus more on the nicer requests. That said, I'll try to set a testing environment up this week and see if i can make it work for me.

Happy holidays!

Happy holidays, man!

Adding myself to the thread

I've no idea how anything works, but could one include something like go-sendxmpp, that does all the xmpp stuff in one binary? https://salsa.debian.org/mdosch/go-sendxmpp
My current approach is slack webhooks to my xmpp server with a custom module, but it doesn't work completely. 

Maybe u don't know:
> Slixmpp is an MIT licensed XMPP library for Python 3.7+. It is a fork of SleekXMPP.
> 
> Slixmpp's goals is to only rewrite the core of the library (the low level socket handling, the timers, the events dispatching) in order to remove all threads.
https://codeberg.org/poezio/slixmpp

BR

I develop with Slixmpp. Perhaps I can be of help.

Please inform me, if you are interested.

As a member of the XMPP community, I was sad to see XMPP not being supported by Apprise. I found this issue, and saw how long it's been open, so I wanted to get things moving again.

I have reverted the commit that removed XMPP support, and adapted the code in a minimal way to make it work with the latest Slixmpp, 1.12.0. With that, I have successfully sent a message to myself.

Sending a message to another account via `to=...` had the problem that the first letter of the JID was removed. I found the reason to be the line `self.targets[0] = self.targets[0][1:]` whose purpose wasn't explained. I just removed it, and the message was successfully sent.

Only later, I found that there already was a [PR trying to fix XMPP issues](https://github.com/caronc/apprise/pull/511). It contains a lot of information, a good part of it outdated, including broken links, so I haven't read everything in detail. But I think it's worth mentioning that I [replaced](https://slixmpp.readthedocs.io/en/latest/howto/remove_process.html) the [problematic `process` method](https://github.com/caronc/apprise/pull/511#issuecomment-1044169166), and I don't get the "event loop closed" runtime errors.

There's still an error at the end:
```
2025-12-11 23:37:16,022 - DEBUG - SEND: <message type="chat" to="<REDACTED>@<REDACTED>" id="<REDACTED>" xml:lang="en"><body>Test Message Body</body><subject /></message>
2025-12-11 23:37:16,022 - DEBUG - SEND: </stream:stream>
2025-12-11 23:37:16,114 - DEBUG - End of stream received
2025-12-11 23:37:16,114 - DEBUG - Event triggered: killed
2025-12-11 23:37:16,115 - INFO - connection_lost: (None,)
2025-12-11 23:37:16,115 - DEBUG - Cancelling 0 slow send tasks
2025-12-11 23:37:16,115 - DEBUG - Event triggered: session_end
2025-12-11 23:37:16,116 - DEBUG - Event triggered: disconnected
2025-12-11 23:37:16,135 - ERROR - Task was destroyed but it is pending!
task: <Task cancelling name='Task-1' coro=<XMLStream.run_filters() running at /home/<REDACTED>/.local/share/virtualenvs/apprise-4MG-Z_Iy/lib/python3.12/site-packages/slixmpp/xmlstream/xmlstream.py:1276> wait_for=<Future cancelled>>
```
It might be solved by adding some `await`s, and I actually wanted to check where this would be necessary now, but I haven't taken the time to do that yet.

@caronc In your [last message](https://github.com/caronc/apprise/pull/511#issuecomment-1159796973), you mentioned issues with multiple Slixmpp instances and handling connection failures. Before investing more time into this as someone who has no prior experience with Slixmpp and Apprise, I'd like to ask if and how you'd like to proceed. Should I create a PR, and we'll discuss what's still missing for an official re-introduction?

mbeko

The errors might be a result of starting multiple functions at start,
particularly those functions that are not of connection-start.

I have a similar issue with a project of mine, also based upon
Slixmpp; and, I consider to waiting for the connection or check ping,
before starting other functions that are not of connection-start.


@mbeko I am not an expert, yet I might be able to help.

I am working on a Slixmpp project from which I intend to create a framework module to facilitate the use of Slixmpp.

https://git.xmpp-it.net/sch/Slixfeed/src/branch/master/src/slixfeed/interface/xmpp

Please contact me over XMPP.

gemini://woodpeckersnest.space/~schapps/contact/

Closing issue; XMPP support returned to Apprise