Has anyone managed to send an Apprise/XMPP message?

:question: **Question**

I'm trying to send XMPP messages from [Uptime Kuma](https://github.com/louislam/uptime-kuma) Docker container where Apprise is present.

After reading [#227](https://github.com/caronc/apprise/issues/227) I tried the following:

---

**NOTE:** *All commands are executed inside the Docker container.*

---
 
1. **Using SleekXMPP**

* First try:
 
`apprise -vvv -t "Title" -b "Body" xmpp://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]`
  
`apprise -vvv -t "Title" -b "Body" xmpps://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]`

  *Shows:*

```
2021-10-08 05:47:52,121 - DEBUG - Loaded XMPP URL: xmpps://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]....?format=text&overflow=upstream&rto=4.0&cto=4.0&verify=yes&xep=30%2C199
2021-10-08 05:47:52,122 - DEBUG - Using selector: EpollSelector
2021-10-08 05:47:52,125 - INFO - Notifying 1 service(s) asynchronously.
2021-10-08 05:47:52,129 - WARNING - XMPP Notifications are not supported by this system - install sleekxmpp or slixmpp.
```

Installed "SleekXMPP":
  
`pip3 install sleekxmpp`

* Second try with less verbosity:

`apprise -v -t "Title" -b "Body" xmpp://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]`
  
   *Shows:*

```
...
2021-10-08 05:53:39,445 - WARNING - Could not find pyasn1 and pyasn1_modules. SSL certificate expiration COULD NOT BE VERIFIED.
...

```

Installed "Pyasn1" and "Pyasn1_modules":
  
`pip3 install pyasn1 pyasn1_modules`

* Third try:

`apprise -v -t "Title" -b "Body" xmpp://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]`

   *Shows:*

```
...
ValueError: time data '211009001621Z' does not match format '%Y%m%d%H%M%SZ'
...

```
  
2.  **Using SliXMPP**

2.1. **Installed "SliXMPP" using pip:**
 
`pip3 install slixmpp`

`apprise -v -t "Title" -b "Body" xmpp://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]`

   *Shows:*

``` 
2021-10-08 06:11:08,837 - DEBUG - Loaded XMPP URL: xmpp://[sender]:[sender_password]@[sender_server.tld]/[recipient]@[recipient_server.tld]/%2F[recipient]%40[recipient_server.tld]?format=text&overflow=upstream&rto=4.0&cto=4.0&verify=yes&xep=30%2C199
2021-10-08 06:11:08,838 - DEBUG - Using selector: EpollSelector
2021-10-08 06:11:08,839 - INFO - Notifying 1 service(s) asynchronously.
2021-10-08 06:11:08,840 - DEBUG - Using selector: EpollSelector
2021-10-08 06:11:08,843 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
2021-10-08 06:11:08,844 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
2021-10-08 06:11:08,846 - DEBUG - Loaded Plugin: RFC 3920: Stream Feature: Start Session
2021-10-08 06:11:08,847 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
2021-10-08 06:11:08,848 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
2021-10-08 06:11:08,852 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: SASL
2021-10-08 06:11:08,854 - DEBUG - Loaded Plugin: XEP-0030: Service Discovery
2021-10-08 06:11:08,855 - DEBUG - Loaded Plugin: XEP-0199: XMPP Ping 

```

The message was **not** received.

2.2. **Installed "SliXMPP" using apt:**

As @louislam advised me, I tried to install "slixmpp" from the apt repository instead of pip.

`apt update && apt install python3-slixmpp`

The result was the same as mentioned above in 2.1.

In the end, none of the methods worked. If anyone has succeeded, please share your experience.

Thanks!

From what I can tell, the notify plugin never returns from the call to xmpp.connect(), which according to slixmpp developers is unusual - this call should not block. Apart from this, it's suspicious that apprise exits successfully, claiming a notification has been sent. I assume something is wonky with threading.

I've run out of time to continue for this week, and I'm generally not a Python person - if someone more knowledgable with Python, slixmpp or apprise comes along in the meantime, feel free to pick this up.

Confirming XMPP plugin not working. Also confirming critically needing it to work.

Linked to:
- https://github.com/caronc/apprise/issues?q=is%3Aissue+xmpp
- https://github.com/caronc/apprise/pulls?q=is%3Apr+xmpp

Issues:
- https://github.com/caronc/apprise/issues/40
- https://github.com/caronc/apprise/issues/213
- https://github.com/caronc/apprise/issues/227
- https://github.com/caronc/apprise/issues/455
- https://github.com/caronc/apprise/issues/497
- https://github.com/caronc/apprise/issues/553
- https://github.com/caronc/apprise/issues/731
- https://github.com/caronc/apprise/issues/734
- https://github.com/caronc/apprise/issues/735

PRs:
- https://github.com/caronc/apprise/pull/90
- https://github.com/caronc/apprise/pull/215
- https://github.com/caronc/apprise/pull/217
- https://github.com/caronc/apprise/pull/220
- https://github.com/caronc/apprise/pull/240
- https://github.com/caronc/apprise/pull/447
- https://github.com/caronc/apprise/pull/485
- https://github.com/caronc/apprise/pull/487
- https://github.com/caronc/apprise/pull/511
- https://github.com/caronc/apprise/pull/619
- https://github.com/caronc/apprise/pull/707
- https://github.com/caronc/apprise/pull/743
- https://github.com/caronc/apprise/pull/1468
- https://github.com/caronc/apprise/pull/1505
- https://github.com/caronc/apprise/pull/1507
- https://github.com/caronc/apprise/pull/1509
- https://github.com/caronc/apprise/pull/1526