XMPP fails to send notification

## Notification Service(s) Impacted
XMPP

## What happened
XMPP fails to connect

## Apprise URL(s) involved (redact secrets)
`xmpps://user&password:example.com/target@example.com`

## Steps to reproduce
1. Make a new config with the xmpp plugin information above
2. Send test via API webpage

## Environment
apprise: 1.9.8
api: 1.3.2
docker: caronc/apprise:latest

## Logs (redact secrets)
<!-- Include -vv output if possible -->
```text
2026-03-08 18:50:40,834 [WARNING] apprise.xmpp: XMPP connect failed.
2026-03-08 18:50:40,836 [WARNING] django: NOTIFY -  - One or more notifications not sent using KEY: my_key
2026-03-08 18:50:40,837 [WARNING] django.request: Failed Dependency: /notify/my_key
172.84.0.1 - user [08/Mar/2026:23:50:40 +0000] "POST /notify/my_key HTTP/1.0" 424 354 "https://apprise.example.com/cfg/my_key" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:148.0) Gecko/20100101 Firefox/148.0"
```


This is in the docs:
```
xmpp://{user}:{password}@{host}/{jid}
```

Here is what I set in the text box on the configuration page:
```
xmpps://user0:password@example.com/user02?verify=no
```
Here is what shows up in  review:
```
xmpps://user0%40example.com:****@example.com/user02%40example.com?mode=starttls&roster=no&subject=no&keepalive=no&format=text&overflow=upstream&verify=no
```
I tried doing:
```
xmpps://user:password:example.com:5223/target@example.com&mode=tls
```
and it called me out for a syntax error, so I changed to
```
xmpps://user:password@example.com:5223/target@example.com&mode=tls
```
and I get the original error. 

I can connect to the account that I am using as my outgoing auth from home assistant, python cli, gajim on Ubuntu, conversations on android, etc. The receiving account is the same.

You are very welcome, I appreciate it as well. I've got some use cases for this I'm looking forward to :)

Thank you for sharing all this! I just pushed 1 more small fix... can you rinse and repeat the process one more time. Make sure you grab the latest code; delete the `apprise-test` dir you prepare and just start over to be safe; then try your test again

I feel we're getting so close! 🙏 

Success!
```
$ apprise -vvv -b "test body" -t "test title" "xmpps://user0:password@examplecom/user1@examplecom?mode=starttls&verify=no"
2026-03-10 20:47:03,063 - DEBUG - Could not load translation path: /home/user/apprise-test/lib/python3.12/site-packages/apprise/i18n/en
2026-03-10 20:47:03,168 - DEBUG - 131 Notification Plugin(s) and 183 Schema(s) loaded in 0.1027s
2026-03-10 20:47:03,168 - DEBUG - Loaded XMPP URL: xmpps://user0%40examplecom:****@examplecom/user1%40examplecom?mode=starttls&roster=no&subject=no&keepalive=no&format=text&overflow=upstream&verify=no
2026-03-10 20:47:03,168 - DEBUG - XMPP init: jid=user0@examplecom host=examplecom port=5222 mode=starttls verify_certificate=False subject=no roster=no keepalive=no targets=['user1@examplecom']
2026-03-10 20:47:03,169 - DEBUG - Using selector: EpollSelector
2026-03-10 20:47:03,205 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
2026-03-10 20:47:03,206 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
2026-03-10 20:47:03,206 - DEBUG - Loaded Plugin: RFC 3920: Stream Feature: Start Session
2026-03-10 20:47:03,206 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
2026-03-10 20:47:03,207 - DEBUG - Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
2026-03-10 20:47:03,209 - DEBUG - Loaded Plugin: RFC 6120: Stream Feature: SASL
2026-03-10 20:47:03,224 - DEBUG - Event triggered: connecting
2026-03-10 20:47:03,251 - DEBUG - Event triggered: connected
2026-03-10 20:47:03,251 - DEBUG - SEND: <stream:stream to='examplecom' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2026-03-10 20:47:03,254 - DEBUG - RECV: <stream:stream version="1.0" xml:lang="en" id="9ab42984-51a7-43eb-b214-9203f04ccbad" from="examplecom">
2026-03-10 20:47:03,254 - DEBUG - RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls><limits xmlns="urn:xmpp:stream-limits:0"><max-bytes>262144</max-bytes><idle-seconds>840</idle-seconds></limits></stream:features>
2026-03-10 20:47:03,254 - DEBUG - SEND: <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
2026-03-10 20:47:03,256 - DEBUG - RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
2026-03-10 20:47:03,256 - DEBUG - Starting TLS
2026-03-10 20:47:03,261 - DEBUG - Event triggered: ssl_cert
2026-03-10 20:47:03,261 - DEBUG - Event triggered: tls_success
2026-03-10 20:47:03,261 - DEBUG - SEND: <stream:stream to='examplecom' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2026-03-10 20:47:03,306 - DEBUG - RECV: <stream:stream version="1.0" xml:lang="en" id="cb1426f4-7552-40f8-9609-8099713d0feb" from="examplecom">
2026-03-10 20:47:03,306 - DEBUG - RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mechanism>SCRAM-SHA-1</mechanism><mechanism>SCRAM-SHA-1-PLUS</mechanism><mechanism>OAUTHBEARER</mechanism></mechanisms><sasl-channel-binding xmlns="urn:xmpp:sasl-cb:0"><channel-binding type="tls-exporter" /></sasl-channel-binding><limits xmlns="urn:xmpp:stream-limits:0"><max-bytes>262144</max-bytes><idle-seconds>840</idle-seconds></limits></stream:features>
2026-03-10 20:47:03,308 - DEBUG - SEND: <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="SCRAM-SHA-1-PLUS">biwsbj1tc2cuYm90LHI9MzAwMTEyNzQ1MDQ5Nzc2MTQ=</auth>
2026-03-10 20:47:03,310 - DEBUG - RECV: <challenge xmlns="urn:ietf:params:xml:ns:xmpp-sasl">cj0zMDAxMTI3NDUwNDk3NzYxNGNlN2ZmZWY4LTY5ZjYtNGU0ZC04Nzg0LTdhYzc2ZGViZjNhYSxzPVpHWTFNelV6TkdJdE9ERm1OeTAwWXpabUxXRmxOelV0TkdWbE5EVTFPVEptWmprMyxpPTQwOTY=</challenge>
2026-03-10 20:47:03,319 - DEBUG - SEND: <response xmlns="urn:ietf:params:xml:ns:xmpp-sasl">Yz1iaXdzLHI9MzAwMTEyNzQ1MDQ5Nzc2MTRjZTdmZmVmOC02OWY2LTRlNGQtODc4NC03YWM3NmRlYmYzYWEscD1KLzk4MDdDWXV4OFVQaVRwQVNudHJvRzh4ckE9</response>
2026-03-10 20:47:03,322 - DEBUG - RECV: <success xmlns="urn:ietf:params:xml:ns:xmpp-sasl">dj0xR1N5bUFOd1gvRzVETExyNVd6MXltRnl2NjQ9</success>
2026-03-10 20:47:03,322 - DEBUG - Event triggered: auth_success
2026-03-10 20:47:03,322 - DEBUG - SEND: <stream:stream to='examplecom' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2026-03-10 20:47:03,324 - DEBUG - RECV: <stream:stream version="1.0" xml:lang="en" id="aef01f9f-2705-4f1a-aa0f-fa31248e57d2" from="examplecom">
2026-03-10 20:47:03,325 - DEBUG - RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><ver xmlns="urn:xmpp:features:rosterver" /><sm xmlns="urn:xmpp:sm:2" /><sm xmlns="urn:xmpp:sm:3" /><csi xmlns="urn:xmpp:csi:0" /><c xmlns="http://jabber.org/protocol/caps" ver="4Wyt8le4wdbdQsc2oK6jCQiv0nA=" hash="sha-1" node="http://prosody.im" /><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><required /></bind><session xmlns="urn:ietf:params:xml:ns:xmpp-session"><optional /></session><sub xmlns="urn:xmpp:features:pre-approval" /><limits xmlns="urn:xmpp:stream-limits:0"><max-bytes>262144</max-bytes><idle-seconds>840</idle-seconds></limits></stream:features>
2026-03-10 20:47:03,325 - DEBUG - Enabling roster versioning.
2026-03-10 20:47:03,325 - DEBUG - Server supports subscription pre-approvals.
2026-03-10 20:47:03,325 - DEBUG - Requesting resource: 
2026-03-10 20:47:03,325 - DEBUG - SEND: <iq id="d9c986e74c124658b9517a90ec5890d0" type="set"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind" /></iq>
2026-03-10 20:47:03,329 - DEBUG - RECV: <iq id="d9c986e74c124658b9517a90ec5890d0" type="result"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><jid>user0@examplecom/BW1zgH1Qm37R</jid></bind></iq>
2026-03-10 20:47:03,329 - DEBUG - Event triggered: session_bind
2026-03-10 20:47:03,329 - INFO - JID set to: user0@examplecom/BW1zgH1Qm37R
2026-03-10 20:47:03,329 - DEBUG - Event triggered: session_start
2026-03-10 20:47:03,330 - DEBUG - Finished processing stream features.
2026-03-10 20:47:03,330 - DEBUG - Event triggered: stream_negotiated
2026-03-10 20:47:03,330 - DEBUG - Event triggered: sent_presence
2026-03-10 20:47:03,330 - DEBUG - SEND: <presence id="d0382ebd64464b20a9ecec67ca7454c3" xml:lang="en" />
2026-03-10 20:47:03,330 - DEBUG - SEND: <message type="chat" to="user1@examplecom" id="c8f93829ee0240d0a2df50ef60c8103a" xml:lang="en"><body>test title
test body</body><subject /></message>
2026-03-10 20:47:03,330 - DEBUG - SEND: </stream:stream>
2026-03-10 20:47:03,346 - DEBUG - RECV: <presence id="d0382ebd64464b20a9ecec67ca7454c3" from="user0@examplecom/BW1zgH1Qm37R" xml:lang="en"><x xmlns="vcard-temp:x:update"><photo>fe0b5c9ea1eae4671d4fd35a770ea7be058182b6</photo></x></presence>
2026-03-10 20:47:03,346 - DEBUG - Event triggered: presence
2026-03-10 20:47:03,346 - DEBUG - Event triggered: presence_available
2026-03-10 20:47:03,346 - DEBUG - Event triggered: got_online
2026-03-10 20:47:03,346 - DEBUG - Event triggered: changed_status
2026-03-10 20:47:03,346 - DEBUG - RECV: <presence xml:lang="en" from="user1@examplecom/Conversations.6ek5" to="user0@examplecom/BW1zgH1Qm37R"><c xmlns="urn:xmpp:caps"><hash xmlns="urn:xmpp:hashes:2" algo="sha-256">Fbe2y7xSNJjvHWve0g+goMNZEX9tge8TJG9QggA0D8o=</hash></c><c xmlns="http://jabber.org/protocol/caps" node="http://conversations.im" hash="sha-1" ver="3a8mNPDpE4As3Z1IwGo6G7/9qwQ=" /><x xmlns="vcard-temp:x:update"><photo>fe0b5c9ea1eae4671d4fd35a770ea7be058182b6</photo></x><delay xmlns="urn:xmpp:delay" from="examplecom" stamp="2026-03-10T04:40:24Z" /></presence>
2026-03-10 20:47:03,346 - DEBUG - Event triggered: presence
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence_available
2026-03-10 20:47:03,347 - DEBUG - Event triggered: got_online
2026-03-10 20:47:03,347 - DEBUG - Event triggered: changed_status
2026-03-10 20:47:03,347 - DEBUG - RECV: <presence id="4abb72e5-3b5d-41fc-ba4e-4ff9bd3933cb" from="user1@examplecom/gajim.S182KJ0H" to="user0@examplecom/BW1zgH1Qm37R" xml:lang="en"><c xmlns="http://jabber.org/protocol/caps" node="https://gajim.org" hash="sha-1" ver="HXL+lwt+muyvexllwx0xAed/A1c=" /><x xmlns="vcard-temp:x:update"><photo>fe0b5c9ea1eae4671d4fd35a770ea7be058182b6</photo></x><delay xmlns="urn:xmpp:delay" from="examplecom" stamp="2026-03-11T00:42:59Z" /></presence>
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence_available
2026-03-10 20:47:03,347 - DEBUG - Event triggered: changed_status
2026-03-10 20:47:03,347 - DEBUG - RECV: <presence xml:lang="en" from="coco@mojo.fyi/Conversations.KUzR" to="user0@examplecom/BW1zgH1Qm37R"><c xmlns="urn:xmpp:caps"><hash xmlns="urn:xmpp:hashes:2" algo="sha-256">Fbe2y7xSNJjvHWve0g+goMNZEX9tge8TJG9QggA0D8o=</hash></c><c xmlns="http://jabber.org/protocol/caps" node="http://conversations.im" hash="sha-1" ver="3a8mNPDpE4As3Z1IwGo6G7/9qwQ=" /><x xmlns="vcard-temp:x:update"><photo>eef894bda9b59c9da849fd2a6b6cc0086de1d87f</photo></x><delay xmlns="urn:xmpp:delay" from="mojo.fyi" stamp="2026-03-10T04:40:46Z" /></presence>
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence_available
2026-03-10 20:47:03,347 - DEBUG - Event triggered: got_online
2026-03-10 20:47:03,347 - DEBUG - Event triggered: changed_status
2026-03-10 20:47:03,347 - DEBUG - RECV: <presence id="4" from="user0@examplecom/MultiBot" to="user0@examplecom/BW1zgH1Qm37R" xml:lang="en"><x xmlns="vcard-temp:x:update"><photo>fe0b5c9ea1eae4671d4fd35a770ea7be058182b6</photo></x><delay xmlns="urn:xmpp:delay" from="examplecom" stamp="2026-03-10T04:40:14Z" /></presence>
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence
2026-03-10 20:47:03,347 - DEBUG - Event triggered: presence_available
2026-03-10 20:47:03,347 - DEBUG - Event triggered: changed_status
2026-03-10 20:47:03,347 - DEBUG - End of stream received
2026-03-10 20:47:03,347 - DEBUG - Event triggered: eof_received
2026-03-10 20:47:03,347 - DEBUG - Event triggered: killed
2026-03-10 20:47:03,347 - INFO - connection_lost: (None,)
2026-03-10 20:47:03,347 - DEBUG - Cancelling 0 slow send tasks
2026-03-10 20:47:03,348 - DEBUG - Event triggered: session_end
2026-03-10 20:47:03,348 - DEBUG - Event triggered: disconnected
```
Message received.

THANK YOU!

I can't do a release tonight, i'm sorry; it's too late :(..but i will do one soon, i promise (much faster then my normal 2-3 month candance).  let me get a few more bugfixes in and i'll push Apprise v1.9.9.

Thank you again for testing this... keep in mind you are free to use this branch for the time being (just to be on top).

Thanks again for all of your patience on this one!